{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="page-wrapper">
    <div class="blog-top clearfix">
        <h4 class="pull-left">Recent News <a href="#"><i class="fa fa-rss"></i></a></h4>
    </div><!-- end blog-top -->

    <div class="blog-list clearfix">
        {% for post in posts %}
        <div class="blog-box row">
            <div class="col-md-4">
                <div class="post-media">
                    <a href="{{ post.get_absolute_url }}" title="">
                        {% if post.photo %}
                        <img src="{{ post.photo.url }}" alt="" class="img-fluid">
                        {% else %}
                        <img src="{% static 'upload/tech_blog_01.jpg' %}" alt="" class="img-fluid">
                        {% endif %}
                        <div class="hovereffect"></div>
                    </a>
                </div><!-- end media -->
            </div><!-- end col -->

            <div class="blog-meta big-meta col-md-8">
                <h4><a href="{{ post.get_absolute_url }}" title="">{{ post.title }}</a></h4>
                <p>{{ post.content|safe|truncatewords_html:25 }}</p>
                <small class="firstsmall"><a class="bg-orange" href="tech-category-01.html" title="">{{ post.categories }}</a></small>
                <small><a href="{{ post.get_absolute_url }}" title="">{{ post.created_at|date:"Y.m.d" }}</a></small>
                <small><a href="{{ post.get_absolute_url }}" title=""><i class="fa fa-eye"></i>{{ post.views }}</a></small>
            </div><!-- end meta -->
        </div><!-- end blog-box -->

        <hr class="invis">
        {% endfor %}
    </div><!-- end blog-list -->
</div><!-- end page-wrapper -->

<hr class="invis">


{% endblock %}